

The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

Any string containing a zero will return a zero, so find a zero then the thirteen digits following it.
Create disregard the string if it is a zero but restart the search.
First create the thous variable to hold the number

In [0]:
thous = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

In [3]:
th = str(thous)
len(th)
th.count('0')

97

Now lets find the zeros

In [4]:
start = 0
loc =[]
for i in range(97):
  s = th.find('0',start,1001)
  start = s+1
  loc.append(s)
print(loc)

[13, 57, 65, 79, 86, 107, 124, 142, 145, 154, 170, 172, 181, 194, 210, 230, 232, 263, 265, 283, 301, 306, 313, 319, 322, 328, 334, 342, 346, 351, 371, 383, 390, 394, 408, 409, 411, 422, 430, 440, 456, 463, 467, 471, 483, 517, 528, 564, 567, 572, 577, 595, 596, 607, 612, 619, 620, 621, 631, 672, 742, 746, 747, 755, 761, 774, 778, 786, 796, 798, 800, 806, 810, 828, 845, 854, 861, 877, 878, 882, 893, 898, 900, 912, 915, 917, 923, 924, 936, 937, 938, 966, 977, 978, 987, 990, 999]

We can split the string based on the zeroes?

In [0]:
sp_th = th.split('0')

That worked, and gave us everything without a 0.
So now we get rid of any gaps that are less than 13 characters long and append them to a new list called 'test'

In [0]:
test = []
for x in sp_th:
  if len(x) >= 13:
    test.append(x)

So now we need to figure out how to create a multiple of lists of 13 digits from those that are greater than 13 digits...

In [0]:
test_1 = []
for x in test:
  e = ''                    # initialise an empty variable
  if len(x) == 13:          # if the length is 13 then just add it to the new list
    test_1.append(x)
  else:                     # if the length is greater than 13 then
    for i in range(13):     # iterate over the first 13 characters (i.e. 0 to 12 stop at 13)
      e +=x[i]              # add the letter/digit to a new string
    test_1.append(e)        # append this new string to the test_1 string

The problem with the else is that the digits beyond the thirteenth are missed.

So need to amend that loop, first move the creattion of empty e variable to straight after the else.

So we can do it by appending

In [0]:
x = '73167176531330624919225119674' # 29 characters
t_l =[]
b = 0
for a in range(0, len(x)):
  if a > (len(x)-13):
    break
  print('-------')
  e = ''
  for i in range(13):
    print(str(a+i))
    e +=x[a+i]
  t_l.append(e)
print('==========')
print(b)

By using the list trimming funtions using [:] type language we might be able to strip it.
So:
- get the math of how long a string is,
- find out how many 13's it can contain (this will be string length - 13) i.e. 14 will contain two, 20 will contain 7
- slice accordingly

- a[start:end] # items start through end-1
- a[start:]    # items start through the rest of the array
- a[:end]      # items from the beginning through end-1

In [0]:
x = '73167176531330624919225119674' # 29 characters
t_l =[]

for a in range(len(x)): # find the length of the string
  if a > 12:
    break
  e = x[a:(a+13)]
  print(str(len(e)) + " " + e)

The list approach is much tidier!!

In [0]:
test_1 = []
for x in test:
  e = ''                    # initialise an empty variable
  if len(x) == 13:          # if the length is 13 then just add it to the new list
    test_1.append(x)
    print(e)
  else:                     # if the length is greater than 13 then
    for a in range(len(x)): # find the length of the string
      e = ''
      if len(x) - a < 13:
        break
      e = x[a:(a+13)]
      test_1.append(e)
      print(str(len(e)) + " " + e)

In [0]:
test_1

In [69]:
max_sum = 0
for x in test_1:
#  print(x)
  tot = 1
  for a in x:
 #   print(a)
    tot *= int(a) 
  if tot > max_sum:
    max_sum = tot
print(max_sum)

23514624000